<!DOCTYPE html>
<html lang="pt-br" xmlns="https://www.w3.org/1999/xhtl" layout:decorate="~{layout}">

<head>
    <style>
        .boot {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
        }
    </style>
    <meta charset="UTF-8">
    <title>Atenção</title>
</head>

<body class="">

    <section class="layout-content" layout:fragment="conteudo">

        <h1>Acesso negado!!!</h1>
        <a href="/logout">Sair</a>

    </section>    
</body>

</html>